In [1]:
####natural language processing -dogal dil isleme

In [2]:
!pip install nltk

Requirement already satisfied: nltk in /Users/yurt7/opt/anaconda3/lib/python3.9/site-packages (3.7)
Requirement already satisfied: tqdm in /Users/yurt7/opt/anaconda3/lib/python3.9/site-packages (from nltk) (4.64.0)
Requirement already satisfied: joblib in /Users/yurt7/opt/anaconda3/lib/python3.9/site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /Users/yurt7/opt/anaconda3/lib/python3.9/site-packages (from nltk) (2022.3.15)
Requirement already satisfied: click in /Users/yurt7/opt/anaconda3/lib/python3.9/site-packages (from nltk) (8.0.4)

In [3]:
#natural language tool kit

In [4]:
import nltk

In [5]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to /Users/yurt7/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [6]:
cumle="yaylaya gitmisti yayla zamani,gulizar dondu de dondu donmedi"

In [7]:
cumle.upper()

'YAYLAYA GITMISTI YAYLA ZAMANI,GULIZAR DONDU DE DONDU DONMEDI'

In [8]:
cumle.lower()

'yaylaya gitmisti yayla zamani,gulizar dondu de dondu donmedi'

In [9]:
cumle.split()

['yaylaya',
 'gitmisti',
 'yayla',
 'zamani,gulizar',
 'dondu',
 'de',
 'dondu',
 'donmedi']

In [10]:
cumle[50]#50inci harf

'd'

In [11]:
from nltk.tokenize import sent_tokenize

In [12]:
text="i love you . fatma lives in a small veillage . please call e back."

In [13]:
text.split(".")#cumleleri virgulle ayirdi

['i love you ', ' fatma lives in a small veillage ', ' please call e back', '']

In [14]:
sent_tokenize(text)

['i love you .', 'fatma lives in a small veillage .', 'please call e back.']

In [15]:
from nltk.tokenize import word_tokenize

In [16]:
word_tokenize(text)#sozcuk ayirma

['i',
 'love',
 'you',
 '.',
 'fatma',
 'lives',
 'in',
 'a',
 'small',
 'veillage',
 '.',
 'please',
 'call',
 'e',
 'back',
 '.']

In [17]:
from nltk.tokenize import TreebankWordTokenizer

In [18]:
TreebankWordTokenizer().tokenize(text)

['i',
 'love',
 'you',
 '.',
 'fatma',
 'lives',
 'in',
 'a',
 'small',
 'veillage',
 '.',
 'please',
 'call',
 'e',
 'back',
 '.']

In [19]:
#stopwords:gereksiz kelime

In [20]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /Users/yurt7/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [21]:
print(nltk.corpus.stopwords.words("english"))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [22]:
print(nltk.corpus.stopwords.words("turkish"))

['acaba', 'ama', 'aslında', 'az', 'bazı', 'belki', 'biri', 'birkaç', 'birşey', 'biz', 'bu', 'çok', 'çünkü', 'da', 'daha', 'de', 'defa', 'diye', 'eğer', 'en', 'gibi', 'hem', 'hep', 'hepsi', 'her', 'hiç', 'için', 'ile', 'ise', 'kez', 'ki', 'kim', 'mı', 'mu', 'mü', 'nasıl', 'ne', 'neden', 'nerde', 'nerede', 'nereye', 'niçin', 'niye', 'o', 'sanki', 'şey', 'siz', 'şu', 'tüm', 've', 'veya', 'ya', 'yani']

In [23]:
from nltk.stem import PorterStemmer

In [24]:
PorterStemmer().stem("Happiness")

'happi'

In [25]:
from nltk.stem import LancasterStemmer

In [26]:
LancasterStemmer().stem("Happiness")

'happy'

In [27]:
#Markov chain-

In [28]:
from nltk.stem import RegexpStemmer

In [29]:
rs=RegexpStemmer("ing")

In [30]:
rs.stem("working")

'work'

#NLP projesi icin 7 altin kural
1- noktalama isaretlerini 
2-hepsini kucuk harfla yada buyuk harfla 
3-ENTER/RETURN kaldiriyotuz
4-rakamlari kaldir
5-tokenize etmeliyiz
6-eklerini kaldir koklerini bull
7- stopwords kaldir gereksizkelimeleri kaldir

In [31]:
from nltk.stem import SnowballStemmer

In [32]:
SnowballStemmer.languages#hangi dilleri destekledigi

('arabic',
 'danish',
 'dutch',
 'english',
 'finnish',
 'french',
 'german',
 'hungarian',
 'italian',
 'norwegian',
 'porter',
 'portuguese',
 'romanian',
 'russian',
 'spanish',
 'swedish')

In [33]:
!pip install TurkishStemmer

Requirement already satisfied: TurkishStemmer in /Users/yurt7/opt/anaconda3/lib/python3.9/site-packages (1.3)

In [34]:
from TurkishStemmer import TurkishStemmer

In [35]:
TurkishStemmer().stem("bardaktan")#sozgun kokunu bulma

'bardak'

In [36]:
TurkishStemmer().stem("geliyordu,gelme")

'geliyordu,gelme'

In [37]:
spstemmer=SnowballStemmer("spanish")

In [38]:
spstemmer.stem("tiamo")

'tiam'

In [39]:
frstemmer=SnowballStemmer("french")

In [40]:
frstemmer.stem("Merci")

'merc'

In [41]:
#part of speeh- POS- isim fiil ozne yuklem

In [42]:
from nltk.tokenize import word_tokenize

In [43]:
cumle="zafer loves stuffed grape leaves. Artifial intelligene is cool"

In [44]:
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/yurt7/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [45]:
nltk.pos_tag(word_tokenize(cumle))

[('zafer', 'NN'),
 ('loves', 'VBZ'),
 ('stuffed', 'JJ'),
 ('grape', 'NN'),
 ('leaves', 'VBZ'),
 ('.', '.'),
 ('Artifial', 'JJ'),
 ('intelligene', 'NN'),
 ('is', 'VBZ'),
 ('cool', 'JJ')]

In [46]:
text=word_tokenize("it is a pleasent day today")

In [47]:
nltk.pos_tag(text)

[('it', 'PRP'),
 ('is', 'VBZ'),
 ('a', 'DT'),
 ('pleasent', 'JJ'),
 ('day', 'NN'),
 ('today', 'NN')]

In [48]:
from nltk.tag import DefaultTagger

In [49]:
tag=DefaultTagger("he is girl ")

In [50]:
tag.tag(["beautiful"])

[('beautiful', 'he is girl ')]

In [51]:
!pip install autocorrect

Requirement already satisfied: autocorrect in /Users/yurt7/opt/anaconda3/lib/python3.9/site-packages (2.6.1)

In [52]:
from autocorrect import spell

In [53]:
spell("tghe")

autocorrect.spell is deprecated,             use autocorrect.Speller instead

'the'

In [54]:
spell("lovye")#duzeltme

autocorrect.spell is deprecated,             use autocorrect.Speller instead

'love'

In [55]:
!pip install TextBlob

Requirement already satisfied: TextBlob in /Users/yurt7/opt/anaconda3/lib/python3.9/site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in /Users/yurt7/opt/anaconda3/lib/python3.9/site-packages (from TextBlob) (3.7)
Requirement already satisfied: joblib in /Users/yurt7/opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->TextBlob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /Users/yurt7/opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->TextBlob) (2022.3.15)
Requirement already satisfied: tqdm in /Users/yurt7/opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->TextBlob) (4.64.0)
Requirement already satisfied: click in /Users/yurt7/opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->TextBlob) (8.0.4)

In [56]:
from textblob import TextBlob

In [57]:
b=TextBlob("I havv good spelling")

In [58]:
b.correct()

TextBlob("I have good spelling")

In [59]:
!pip install langdetect

Requirement already satisfied: langdetect in /Users/yurt7/opt/anaconda3/lib/python3.9/site-packages (1.0.9)
Requirement already satisfied: six in /Users/yurt7/opt/anaconda3/lib/python3.9/site-packages (from langdetect) (1.16.0)

In [60]:
from langdetect import detect

In [61]:
detect("Ein ,zwie,vier")

'de'

In [62]:
detect("dondu donmedi")#hangi dilde konustugumuzu anliyor

'pt'

In [63]:
detect("Hocam")

'pt'

In [64]:
detect("merci")

'es'

In [65]:
detect("holla")

'cy'

In [66]:
detect("merhaba ama")

'id'

In [67]:
#speech to text

In [68]:
c="I am a free black man from africa "

In [69]:
b=TextBlob(c)

In [70]:
b.translate(from_lang='ar',to="tr")

TextBlob("Afrika'dan özgür bir siyah adamım")

In [71]:
b.translate(from_lang="en", to="tr")

TextBlob("Afrika'dan özgür bir siyah adamım")

In [72]:
k="hayat kisa kuslar ucuyor"

In [73]:
b=TextBlob(k)

In [74]:
b.translate("tr","fr")

TextBlob("La vie est courte, les oiseaux volent")

In [75]:
l="Busy"

In [76]:
b=TextBlob(l)

In [77]:
b.translate("en","tr")

TextBlob("Meşgul")

In [78]:
#!pip install google

In [79]:
#from googlesearch import search

In [80]:
#for i in  search("hadise",lang="tr");
#print(i)

In [81]:
#TF-IDF= Term Frequency-inverse Document freguency

1-cumle ye document 
2-butun sayfa document
3-web siteye document
4-kitap

In [82]:
#vektorizer

In [83]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
#her kelime icin sutun acma

In [84]:
cumle="Call you tonight ","call me a cab ","please,call me...PLEASE"

In [85]:
vect=CountVectorizer()

In [86]:
import pandas as pd

In [87]:
tf=pd.DataFrame(vect.fit_transform(cumle).toarray(),columns=vect.get_feature_names())

/Users/yurt7/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [88]:
tf#kelime kac defa kulanildigi |

   cab  call  me  please  tonight  you
0    0     1   0       0        1    1
1    1     1   1       0        0    0
2    0     1   1       2        0    0

In [89]:
vect=CountVectorizer()
df=vect.fit_transform(cumle).toarray().sum(axis=0)

In [90]:
df

array([1, 3, 2, 2, 1, 1])

In [91]:
pd.DataFrame(df.reshape(1,6),columns=vect.get_feature_names())

/Users/yurt7/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   cab  call  me  please  tonight  you
0    1     3   2       2        1    1

In [92]:
tf/df

   cab      call   me  please  tonight  you
0  0.0  0.333333  0.0     0.0      1.0  1.0
1  1.0  0.333333  0.5     0.0      0.0  0.0
2  0.0  0.333333  0.5     1.0      0.0  0.0

In [93]:
vect=TfidfVectorizer()

In [94]:
 pd.DataFrame(vect.fit_transform(cumle).toarray(),columns=vect.get_feature_names())

/Users/yurt7/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

        cab      call        me    please   tonight       you
0  0.000000  0.385372  0.000000  0.000000  0.652491  0.652491
1  0.720333  0.425441  0.547832  0.000000  0.000000  0.000000
2  0.000000  0.266075  0.342620  0.901008  0.000000  0.000000

In [95]:
import pandas as pd

In [96]:
yelp=pd.read_csv("yelp.csv")

In [97]:
yelp.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [98]:
yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  10000 non-null  object
 1   date         10000 non-null  object
 2   review_id    10000 non-null  object
 3   stars        10000 non-null  int64
 4   text         10000 non-null  object
 5   type         10000 non-null  object
 6   user_id      10000 non-null  object
 7   cool         10000 non-null  int64
 8   useful       10000 non-null  int64
 9   funny        10000 non-null  int64
dtypes: int64(4), object(6)
memory usage: 781.4+ KB

NLP projesinde 
1-butun cumleler kucuk harf olacak 
2-noktalama isaretlerini kaldiriyoruz 
3-rakamlari kaldiriyoruz
4-satir sonu ve enter basma kaldiriyoruz
5-gerekiz kelimeleri kaldir
6-tokenize et cumleri sozcuklere ayirip listeliyoruz
7-lemma ve stemma ile ekleri kaldirip kokleri bul 
8- vektorize ile sayilari rakama cevir

In [99]:
yelp.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [100]:
yelp['text']=yelp['text'].str.lower()
#harfleri kucuk harfe cevir

In [101]:
yelp['text']=yelp['text'].str.replace('[^\w\s]','')
#noktalama isaretlerini kaldirdiktik

/var/folders/fd/cskj63c50rgcjyb7hr1bt9v80000gn/T/ipykernel_80677/270515084.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  yelp['text']=yelp['text'].str.replace('[^\w\s]','')

In [102]:
yelp['text']=yelp['text'].str.replace('\d+','')#rakamlari kaldirdik

/var/folders/fd/cskj63c50rgcjyb7hr1bt9v80000gn/T/ipykernel_80677/2880301557.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  yelp['text']=yelp['text'].str.replace('\d+','')#rakamlari kaldirdik

In [103]:
yelp['text']=yelp['text'].str.replace('\n','').replace('\r','')
#enter ve yeni satir kodlarini kaldirdik

In [104]:
yalp_ei_ek=yelp[(yelp.stars==5) | (yelp.stars==1) ]

In [105]:
yalp_ei_ek.reset_index(drop=True,inplace=True)

In [106]:
yalp_ei_ek

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,my wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,i have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,rosie dakota and i love chaparral dog park its...,review,uZetl9T0NcROGOyFfughhg,1,2,0
3,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,general manager scott petello is a good egg no...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0
4,zp713qNhx8d9KCJJnrw1xA,2010-02-12,riFQ3vxNpP4rWLk_CSri2A,5,drop what youre doing and drive here after i a...,review,wFweIWhv2fREZV_dYkz_1g,7,7,4
...,...,...,...,...,...,...,...,...,...,...
4081,R8VwdLyvsp9iybNqRvm94g,2011-10-03,pcEeHdAJPoFNF23es0kKWg,5,yes i do rock the hipster joints i dig this p...,review,b92Y3tyWTQQZ5FLifex62Q,1,1,1
4082,WJ5mq4EiWYAA4Vif0xDfdg,2011-12-05,EuHX-39FR7tyyG1ElvN1Jw,5,only stars a few notes the folks that rated t...,review,hTau-iNZFwoNsPCaiIUTEA,1,1,0
4083,f96lWMIAUhYIYy9gOktivQ,2009-03-10,YF17z7HWlMj6aezZc-pVEw,5,im not normally one to jump at reviewing a cha...,review,W_QXYA7A0IhMrvbckz7eVg,2,3,2
4084,L3BSpFvxcNf3T_teitgt6A,2012-03-19,0nxb1gIGFgk3WbC5zwhKZg,5,lets seewhat is there not to like about surpri...,review,OzOZv-Knlw3oz9K5Kh5S6A,1,2,1
4085,pF7uRzygyZsltbmVpjIyvw,2010-10-16,vWSmOhg2ID1MNZHaWapGbA,5,locations all star average i think arizona r...,review,KSBFytcdjPKZgXKQnYQdkA,0,0,0

In [107]:
x=yalp_ei_ek.text
y=yalp_ei_ek.stars

In [108]:
from sklearn.model_selection import train_test_split

In [109]:
from sklearn.linear_model import LogisticRegression

In [110]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [111]:
vect=CountVectorizer(ngram_range=(1,1),stop_words='english')
x_yeni=vect.fit_transform(x)

In [112]:
x_train,x_test,y_train,y_test=train_test_split(x_yeni,y,random_state=42,test_size=.20)

In [114]:
tf=pd.DataFrame(x_train.toarray(),columns=vect.get_feature_names())

/Users/yurt7/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [115]:
from sklearn.naive_bayes import MultinomialNB

In [116]:
mb=MultinomialNB()

In [117]:
mb.fit(x_train,y_train)

MultinomialNB()

In [118]:
from sklearn.metrics import accuracy_score

In [119]:
tahmin=mb.predict(x_test)

In [120]:
accuracy_score(y_test,tahmin)

0.89119804400978

In [122]:
from sklearn.tree import DecisionTreeClassifier

In [125]:
l=LogisticRegression()

In [126]:
l.fit(x_train,y_train)

LogisticRegression()

In [127]:
pred=l.predict(x_test)

In [128]:
accuracy_score(pred,y_test)

0.9046454767726161

In [129]:
dtc=DecisionTreeClassifier()

In [130]:
pred2=dtc.fit(x_train,y_train).predict(x_test)

In [131]:
accuracy_score(pred2,y_test)

0.8508557457212714